name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.2.2
        with:
          version: 7

      - name: Use Node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "pnpm"

      - name: Use cached node_modules
        uses: actions/cache@v3
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        env:
          CI: true

      - name: Test
        run: pnpm turbo run test -- --ci --coverage --maxWorkers=2
        env:
          CI: true

      - name: Build
        run: pnpm build
        env:
          CI: true
          NEXT_PUBLIC_FLAGS_ENDPOINT: https://happykit.dev/api/flags
          NEXT_PUBLIC_FLAGS_ENV_KEY: flags_pub_development_289861443285680649
